@import "tailwindcss";
@import "css/clash-display.css";

.headlineSemiSmal {
  font-family: "ClashDisplay-Semibold";
  line-height: 2.5rem;
  font-size: 3.5rem;
}

.headlineSemi {
  font-family: "ClashDisplay-Semibold";
  line-height: 4rem;
  font-size: 5rem;
}

.headlineBold {
  font-family: "ClashDisplay-Bold";
  line-height: 4rem;
  font-size: 5.5rem;
}

p {
  font-size: 16px;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: -0.5%;
}

h3 {
  font-size: 2.441rem;
  letter-spacing: -1.5%;
}

h1 {
  font-size: 3.815rem;
  letter-spacing: -2%;
}
